.layout {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.main__layout {
    display: flex;
    justify-content: center;
}

.section__layout {
    margin-top: 50px;
    max-width: 1200px;
  }