.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--naranja-calabaza);
    color: black;
}

.header__contenido {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
}

.header__logo {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.header__logo-imagen {
    width: auto;
    height: 5rem;
}

/* .header__busqueda {
    display: flex;
    justify-content: center;
    gap: 10px;
} */

.header__busqueda-contenedor {
    display: flex;
    position: relative; /* Permite posicionar el botón dentro del input */
  }

.header__busqueda-input {  
    padding: 5px 40px 5px 10px; /* Deja espacio para el botón dentro */
    font-size: 16px;
    border-radius: 20px;
    border: 1px solid #ccc;
    min-width: 25rem;
}

.header__busqueda-boton {
    position: absolute;
    right: 10px; /* Ajusta la posición del botón dentro del input */
    top: 60%;
    transform: translateY(-50%); /* Centra verticalmente */
    background: none;
    border: none;
    cursor: pointer;
}

.header__usuario-cesta {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 15px;
}

.header__usuario {
    font-size: 18px;
    background: none;
    border: none;
    cursor: pointer;
    color: var(--negro-suave);
}

.header__user-menu {
    position: absolute;
    top: 100%; /* Posicionar el menu justo abajo del header */
    left: -180px; /* Lo movemos hacia la izquierda (ajustar según el diseño) */
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 200px;
    z-index: 200;
}

.header__user-menu ul {
    list-style-type: none;
    padding: 10px;
    margin: 0;
}

.header__user-menu ul li {
    padding: 10px 15px;
    cursor: pointer;
}

.header__user-menu ul li:hover {
    color:  var(--naranja-oscuro);
}

.header__user-menu ul li button {
    background: none;
    border: none;
    color: var(--rojo-tomate);
    cursor: pointer;
}
  
.header__user-menu ul li button:hover {
    color: var(--rojo-oscuro);
}

.header__pedido-boton {
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: var(--negro-suave);
}

.header__boton:focus {
    text-decoration: underline;
}