.admin-pedido {
    background-color: var(--gris-suave);
    width: 400px;
    border-radius: 30px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    padding: 0 1rem 1rem;
    margin: 10px;
    display: flex;
    flex-direction: column;
    border: 1px solid #e5e7eb;
}

.admin-pedido__p {
    text-transform: uppercase;
}

.admin-pedido__span {
    font-size: 1.2rem;
    color: var(--naranja-calabaza);
    margin-left: 10px;
}

.admin-pedido__lista{
    margin: 0;
    padding: 0 1rem;
    list-style-type: none;
    flex-grow: 1; /* Permite que la lista ocupe el espacio restante */
}
  
.pedido__boton {
    width: 150px;
    padding: 0.5rem;
    background-color: var(--naranja-calabaza);
    color: var(--blanco-puro);
    border: none;
    border-radius: 25px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s;
    margin-top: 1rem;
    text-transform: uppercase;
}

.pedido__boton:hover {
    background-color: var(--naranja-oscuro);
}

@media (max-width: 768px) {
    .admin-pedido {
        width: 400px;
    }
}

@media (max-width: 900px) {
    .admin-pedido {
        width: 350px;
    }
}