.producto {
    border: 1px solid #e5e7eb;
    border-radius: 30px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin: 10px;

}
.imagen {
    width: 90%;
    margin: 10px;
    border-radius: 20px;
}

.contenedor__botones-producto {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.producto__contenido {
    max-width: 300px;
}

.contenido__nombre {
    font-size: 1.5rem;
}
.contenido__precio {
    margin-top: 20px;
}

.producto__boton {
    width: 140px;
    margin-bottom: 10px;
    border-radius: 30px;
    background-color: var(--naranja-calabaza);
    color: var(--blanco-puro);
    cursor: pointer;
}

.producto__boton:hover {
    background: var(--naranja-oscuro);
}

.producto__boton-agotado {
    width: 140px;
    margin-bottom: 10px;
    border-radius: 30px;
    background-color: var(--rojo-tomate);
    color: var(--blanco-puro);
    cursor: pointer;
}

.producto__boton-agotado:hover {
    background-color: var(--rojo-oscuro);
}

.producto__boton-eliminar {
    width: 70px;
    margin-bottom: 10px;
    border-radius: 30px;
    background-color: var(--rojo-danger);
    cursor: pointer;
}

.producto__boton-eliminar:hover {
    background-color: var(--rojo-danger-oscuro);
}

@media (max-width: 768px) {
    .producto {
        max-width: 250px;
    }
}