main {
  max-width: 56rem; 
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.logo {
    max-width: 60rem;
}

.formulario {
  padding: 2.5rem; 
  width: 100%;
}

.formulario-contenedor {
  background-color: var(--gris-suave);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 0.375rem;
  padding-left: 1.25rem; 
  padding-right: 1.25rem; 
  padding-top: 2.5rem; 
  padding-bottom: 2.5rem; 
}

.formulario-apartado {
  margin-bottom: 1rem;
}

.formulario-label {
  color: #2d3748; 
}

.formulario-input {
  margin-top: 0.5rem;
  width: 100%;
  border-radius: 0.375rem;
  padding: 0.75rem;
  background-color: white;
}

.formulario-boton {
  background-color: var(--naranja-calabaza);
  color: white;
  width: 100%;
  margin-top: 1.25rem;
  padding: 0.75rem;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
  border-radius: 0.375rem;
}

.formulario-boton:hover {
  background: var(--naranja-oscuro);
}

.enlace-registro {
  margin-top: 1.25rem;
}


/* media queries */
@media (max-width: 768px) {
  main {
    display: flex;
    margin-top: 7rem; 
    flex-direction: column;
    align-items: center;
  }
}