.admin-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--naranja-calabaza);
    color: black;
}

.admin-header__contenido {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.admin-header__logo {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.admin-header__logo-imagen {
    width: auto;
    height: 5rem;
}

.admin-header__usuario {
    font-size: 18px;
    background: none;
    border: none;
    cursor: pointer;
    color: var(--negro-suave);
}

.admin-header__user-menu {
    position: absolute;
    top: 100%; /* Posicionar el menu justo abajo del header */
    left: -180px; /* Lo movemos hacia la izquierda (ajustar según el diseño) */
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 200px;
    z-index: 200;
}

.admin-header__user-menu ul {
    list-style-type: none;
    padding: 10px;
    margin: 0;
}

.link {
    text-decoration: none;
    color: black;
}

.link:hover{
    text-decoration: none;
}

.admin-header__user-menu ul li {
    padding: 10px 15px;
    cursor: pointer;
}

.admin-header__user-menu ul li:hover {
    color:  var(--naranja-oscuro);
}

.admin-header__user-menu ul li button {
    background: none;
    border: none;
    color: var(--rojo-tomate);
    cursor: pointer;
}
  
.admin-header__user-menu ul li button:hover {
    color: var(--rojo-oscuro);
}

.admin-header__user-nombre {
    text-transform: uppercase;
    color: var(--naranja-oscuro);
    cursor: default !important;
}

.admin-header__user-menu-button {
    padding: 0;
}