.aside__categoria {
    display: flex;
    align-items: center;
    gap: 1rem;
    /* width: 100%; */
    padding: 0.75rem;
    cursor: pointer;
    font: bold;
    text-transform: uppercase;
    background-color: var(--blanco-puro);
    border:  0px;
    border-radius: 30px;
}

.aside__categoria-seleccionada {
    display: flex;
    align-items: center;
    gap: 1rem;
    /* width: 100%; */
    padding: 0.75rem;
    cursor: pointer;
    font: bold;
    text-transform: uppercase;
    background-color: var(--naranja-oscuro);
    color: var(--blanco-puro);
    border:  0px;
    border-radius: 30px;
}
  
.aside__categoria:hover {
    background-color: var(--naranja-oscuro);
    color: var(--blanco-puro);
}

.aside__categoria-img {
    width: 3rem;
}

.menu__item {
    display: flex;
    align-items: center;
    justify-content:space-around;
    text-align: center;
    cursor: pointer; 
    font-weight: bold; 
    text-decoration: none; 
}

/* Elimina la línea del último elemento */
.menu__item:last-child {
    border-right: none;
}

/* Cambio de color al pasar el mouse */
.menu__item:hover {
    background-color: var(--naranja-oscuro);
    color: var(--blanco-puro);
}
  