@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&family=Roboto:wght@400;700&display=swap');
/* Reset estilos */
* {
  box-sizing: border-box;
  position: relative;
  min-width: 0;
}

/* -- Paleta de colores -- */
:root {
  --naranja-calabaza: #FF7F11;
  --naranja-oscuro: #e67608;
  --naranja-claro: #fff8f0;
  --verde-lima: #3CB371;
  --rojo-tomate: #E63946;
  --rojo-oscuro: #c9302c;
  --beige-claro: #FFF4E6;
  --gris-suave: #F5F5F5;
  --negro-suave: #333333;
  --blanco-puro: #FFFFFF;
}

/*
  Tipografía:
  - Poppins para encabezados y botones.
  - Roboto para texto del cuerpo y formularios. 
*/

body {
  min-height: 100dvh;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  color: var(--negro-suave);
  background-color: var(--beige-claro);
  line-height: 1.5;
  font-size: 16px;
}

header {
  width: 100%;
}


h1, h2, h3, h4 {
  text-wrap: balance;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  color: var(--naranja-calabaza);
  margin-bottom: 10px;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 1.8rem;
}

h3 {
  font-size: 1.4rem;
}

p {
  text-wrap: pretty;
}

a {
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  font-size: 0.9rem;
}

a:hover {
  color: var(--naranja-oscuro);
  text-decoration: underline;
}

input, select, textarea, button {
  outline: none; 
  border: 0.5px;
}

/* Texto en botones */
button, input[type="submit"] {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 1rem;
}

/* Estilo para los inputs, selects y textareas cuando están enfocados */
input:focus, select:focus, textarea:focus {
  outline: none; 
  border: 1px solid var(--naranja-calabaza);
  background-color: var(--naranja-claro);
}
